Integrations/LogicApp.Projects/Artifacts/Schemas/Canonical_SystemUserBroadcast.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="SystemUserBroadcast">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Context">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SourceSystem" type="xs:string" />
							<xs:element name="SourceMessageId" type="xs:string" />
							<xs:element name="BroadcastType">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Update" />
										<xs:enumeration value="Create" />
										<xs:enumeration value="Delete" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="BroadcastIdentifier" type="xs:string" />
							<xs:element name="SentAt" type="xs:dateTime" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="UserID" type="xs:string" />
				<xs:element name="UserDisplayName" type="xs:string" />
				<xs:element name="Email" type="xs:string" />
				<xs:element name="LegalEntity" type="xs:string" />
				<xs:element name="Language" type="xs:string" />
				<xs:element name="AutoLogOff" type="xs:string" />
				<xs:element name="Enabled" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
